@import url("https://fonts.googleapis.com/css2?family=Imprima&family=Julius+Sans+One&family=K2D&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

/* Rules to specify font families:
font-family: 'Imprima', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'K2D', sans-serif; */

// Fonts
$font-buttons: "Imprima", sans-serif;
$font-titles: "Julius Sans One", sans-serif;
$font-subtitles-paragraphs: "K2D", sans-serif;

// Colors
$lightblue-color: #579bb1;
$brownish-color: #e1d7c6;
$darker-white-color: #ece8dd;
$almost-white-color: #f8f4ea;




body {
background-color: $brownish-color;
margin-bottom: 0%;
}

header {
  background-color: $lightblue-color;
  height: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .hamburger {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    width: 20px;
    float: right;
    }

nav{
  margin: 2%;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: flex-end;
    align-content: center;
    gap: 30px;
    padding: 5px;
    font-family: $font-buttons;
    height: 40px;
    list-style: none;
    font-size: 1.15rem;
    
    li{
    a:link {
      color: $almost-white-color;
      text-decoration: none;
    }
    a:hover {
      transform: scale(1.2);
      box-shadow: 0 -2px 0px $darker-white-color inset;
    }
    a:visited {
      color: $brownish-color;
      text-decoration: none;
    }
    a:active {
      text-decoration: underline;
    }
  }
  }
}

  h1 {
    color: $almost-white-color;
    font-family: $font-titles;
    margin-top: 5%;
    text-align: center;
    font-size: 3rem;
  }

  img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    border-radius: 90px;
    width: 250px;
    position:relative;
    margin-top: 30px;
    margin: 10% auto;
  }
}

.brown-bottom{
  background-color: $brownish-color;


main {
  background-color: $brownish-color;
  color: #579bb1;
  font-family: $font-subtitles-paragraphs;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  

  h2 {
    font-size: 2em;
    padding: 20px;
  }

  p {
    max-width: 700px;
    margin-top: 1px;
  }
}

footer {
  margin-top: 30px;
  margin-bottom: 1%;
  font-family: $font-buttons;
  color: $almost-white-color;
  text-align: center;
  padding: 10px;
}
}


//-------------MEDIA QUERIES-------------

//----DESKTOP
@media (min-width: 992px) {
  .hamburger {
    display: none;
}
  main{
    h2{
      font-size: 3em;
    }
    p{
      font-size: 24 px;
    }
  }
}

//------TABLET----
@media (min-width: 768px) and (max-width: 991px) {
  .hamburger {
    display: none;
}
}

//----MOBILE----
@media (max-width: 767px) {
  nav {
      display: none;
  }

  .hamburger {
      display: block;
      float: right;
  }
}